body{
  background-color: #000;
}

#main{
  position: relative;
  top: 80px;
  text-align: center;
  background-color: #000;
}

.navbar{
  transition: all 0.3s ease-in-out;
  height: 90px;
  vertical-align: middle;
  background-color: #fff;
  line-height: 90px;
  text-align: center;
  border-radius: 0;
}

#os-brand{
  font-size: 28px;
  line-height: 90px;
  float: left !important;
  letter-spacing: 6px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

#os-brand::hover{
  cursor: pointer;
}

.myWebsite span::before{
  position: relative;
  top: 12px;
  font-size: 38px;
  color: #000;
}
.myWebsite{
  cursor: pointer;
} 
.navbar .container{
  height: 100%;
  position: relative;
  border-radius: 0;
}

.navbar-default .navbar-right li a{
  padding: 0 8px;
  line-height: 90px;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
}

.navbar:hover{
  transform: translateY(2%);
}

#mainContainer #main{
  text-align: center;
}
.card{
  background-color: #fff;
  overflow: hidden;
  margin: 0;
  transition: all 0.7s ease-in-out;
  box-shadow: 5px 5px 1px #25cb50;
}
.card:hover{
  box-shadow: 5px 5px 1px #fff;
}

#infoContainer{
  border: none;
  border-radius: 0;
  color: #333;
  height: 48px;
  font-weight: 500;
  line-height: 46px;
  padding: 0;
  text-align: center;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

#infoContainer .row{
  padding: 0;
  margin: 0;
}

#infoContainer .row p{
  padding: 0;
  margin: 0;
  font-size: 28px;
}

.navbar-default{
  z-index: 10;
}
.infoContainerClass{
  transform: translateY(-135%);
  z-index: 5;
}
.infoContainerShown{
  transform: translateY(-45%);
}